#validINJ{
    display: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    margin: 0 auto;
}

#validINJ div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}